  body {
  margin: 0;
  background: #0e1621;
  color: white;
  font-family: Arial, sans-serif;
}

/* Верхняя панель */
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.big {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

/* Страницы */
.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

/* Навигация */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.nav button {
  flex: 1;
  padding: 15px;
}

/* ===================== */
/* Общие стили модалок   */
/* ===================== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* затемнение */
  justify-content: center;
  align-items: center;
}

/* Крестик (общий) */
.closeBtn {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #000;
  position: absolute;
  top: 15px;
  left: 15px;
}

/* ===================== */
/* Модалка пополнения    */
/* ===================== */
.paymentContent {
  width: 90%;
  max-width: 350px;
  background: #7d7d7d;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

/* ===================== */
/* Модалка инвентаря     */
/* ===================== */
.inventoryContent {
  width: 90%;
  max-width: 600px;
  height: 50vh; /* ПОЛОВИНА ЭКРАНА */
  background: #7d7d7d;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto; /* Чтобы можно было листать вниз */
}

/* Список предметов */
.inventoryList {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Элемент предмета */
.itemCard {
  background: #000;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.itemCard img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.itemCard .itemName {
  font-size: 16px;
  font-weight: bold;
}
.modalContent {
  width: 90%;
  max-width: 350px;
  background: #7d7d7d;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
