body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

/* NAV */
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #1a1a1a;
  padding: 10px 0;
}

.nav button {
  background: #2c2c2c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

/* HOME */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.balance {
  font-size: 18px;
}

.caseBlock {
  margin-top: 30px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.caseBtn {
  background: #2c2c2c;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  margin-top: 10px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
}

.closeBtn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* CASE MODAL */
.caseModalContent {
  width: 100%;
  height: 75vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #7d7d7d;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.modal.showCase .caseModalContent {
  transform: translateY(0);
}

.stripWrap {
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.strip {
  display: flex;
  gap: 18px;
  align-items: center;
  height: 100%;
}

.drop {
  width: 160px;
  height: 120px;
  background: #2c2c2c;
  border-radius: 15px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 18px;
}

/* REWARD */
.rewardContent {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  text-align: center;
}

.rewardBtnTon,
.rewardBtnSell,
.rewardBtnInv {
  margin-top: 10px;
}

/* INVENTORY */
.inventoryContent {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  height: 70%;
  overflow-y: auto;
}

.itemCard {
  background: #1f1f1f;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.sellBtn {
  margin-top: 10px;
}

/* SUBSCRIBE */
.subscribeContent {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  text-align: center;
  }
