  body {
  margin: 0;
  background: #0e1621;
  color: white;
  font-family: Arial, sans-serif;
}

.page {
  display: none;
}
.page.active {
  display: block;
}

/* Верх */
.top {
  padding: 60px 20px 0 20px;
  display: flex;
  justify-content: flex-end;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.userBar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1b2635;
  padding: 10px 14px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
#balance { font-size: 14px; font-weight: bold; color: #6cf; }

/* CASE BOX */
.caseBox {
  width: 170px;
  height: 170px;
  margin: 60px 0 0 20px;
  padding: 15px;
  background: #1b2635;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.caseIcon { font-size: 28px; }
.caseTitle { font-size: 18px; }
.caseBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background: #6cf;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

/* Навигация */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 10;
}
.nav button {
  flex: 1;
  padding: 15px;
}

  /* Модалки */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.subscribeContent,
.caseContent {
  width: 100%;
  height: 75vh;
  background: #1b2635;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

/* Кнопки */
.btn {
  width: 100%;
  padding: 14px;
  background: #6cf;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

/* Подписка */
.subscribeText {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 40px 0;
}

/* Рулетка */
.wheelWrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.wheel {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 8px solid #333;
  background: conic-gradient(
    #6cf 0deg 45deg,
    #fff 45deg 90deg,
    #6cf 90deg 135deg,
    #fff 135deg 180deg,
    #6cf 180deg 225deg,
    #fff 225deg 270deg,
    #6cf 270deg 315deg,
    #fff 315deg 360deg
  );
  transition: transform 5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* Указатель (палка) */
.pointer {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 30px;
  background: #6cf;
  border-radius: 4px;
  z-index: 2;
}

/* Список дропов */
.caseInfo {
  margin-top: 15px;
  color: #fff;
}

.dropList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.dropItem {
  padding: 8px 10px;
  background: #2a3748;
  border-radius: 10px;
  font-size: 12px;
}
